page-dashboard {
	div.intro{
		text-align:left;
	}

	.qr{
		width:250px;
		height:250px;
		margin: 30px auto auto auto;
	}

	.home-grid-title{
	    text-align: center;
	    font-size: large;
	    font-weight: bolder;
	}
}
