
<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      MY EXPERIENCES
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">

<!-- <ion-card *ngFor="let group of customerGroups" (click)="viewEvent(group.group_id)">
  <div class="image">
    <img src="{{base_url}}{{group.avatar || 'images/no_image.png'}}"/>
  </div>
  <div class="card-title">{{group.name}}</div>
  <div class="card-subtitle" style="color:black">{{group.details}}</div>
</ion-card> -->

<ion-list>
  <ion-item-sliding *ngFor="let experience of customerExperiences">
    <ion-item style="overflow:hidden;word-break:break-word;" (click)="showDetails(experience)">
      <ion-avatar item-left>  
        <div class="image-small">
          <img src="{{base_url}}{{experience.avatar || 'images/no_image.png'}}">
        </div>
      </ion-avatar>   
      <h2>{{experience.experience_name}}</h2>
      <p>{{experience.details}}</p>
      
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="primary" (click)="leaveExperience(experience.experience_id)">
        <ion-icon name="text"></ion-icon>
        Leave Experience
      </button>
   </ion-item-options> 
  </ion-item-sliding>   
</ion-list>

</ion-content>
