page-profile {
	.card-style .image{
		height:130px;
		overflow:hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.home-burgundy{
	background-color:#68040a;
	font-family: inherit;
	color:#fff;
	margin:0 0%;
	border-radius: 6px;
	
	}
}
