page-stores {
	.image{
		height:120px;
		overflow:hidden;
		border-radius: 6px;
		
	}

	.gallery {
		padding: 5px;
		margin:0px;
		width: 50%;
		float: left;
		border-radius: 6px;
		height: 220px;
	}
}

