page-signup {
	@keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}

/*	.background{
		background-image: url('../assets/images/map.png');
		background-position: 0px 0px;
		background-repeat: repeat-x;
		animation: animatedBackground 40s linear infinite;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	} */

	.logo{
		width:150px;
		height:150px;
		margin: 30px auto 0px auto;
	}
	.logo img{
		width:100%;
	}
	button{
		width:100%;
	}
	.mid-pos{
		margin-top:35px;
	}
	// .item{
	// 	background-color: rgba(0, 0, 0, 0.40);
	// 	color: white;
	// }
	.list-ios > .item-block:last-child{
		bottom-border: none;
	}
	.content{
		padding: 30px;
	    /*background-color: rgba(0, 0, 0, 0.67);
    	padding-bottom: 150px;*/
	}
	.but-clear{
	    border-color: white;
		color: white;
	}
	.white-text{
		color: white;
	}
	.mid-pos{
		margin-top:35px;
	}
	.toolbar-background{
		background-color: #f8f8f8;
	}
	.before-white{
		color: #868383
	}
	.center{
		text-align: center;
	}
	ion-icon{
		padding-right: 10px;
	}
}
